/* Basic styling */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Game board */
.grid {
  display: inline-grid;
  background-color: lightblue;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 10px;
  border-radius: 10px;
}

.square {
  border: solid #efefef 3px;
  border-radius: 10px;
}

.mole {
  background-color: lightsalmon;
}

/* Button */
.button {
  background-color: lightsalmon;
  color: #efefef;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 2rem;
  transition: 0.5s;
}

.button:hover {
  background-color: gray;
}

.button-hidden {
  display: none;
}
