/* Basic styling */
html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Game board */
.grid {
  display: inline-grid;
  background-color: lightblue;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 10px;
}

.square {
  border: solid black 2px;
  border-radius: 10px;
}

.mole {
  background-color: blue;
}

.button-hidden {
  display: none;
}
